# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
Packages/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# API Keys (重要！)
**/Config.plist
**/Secrets.swift

# macOS
.DS_Store

docs/*
cache/*
.cache/
.local-home/
